{% extends "base.html" %} {% block content %} {% load static %} {% load cloudinary %}

<section class="edit_content">    
    <div>
        <a href="/" class="home_link"><img src="/static/img/techis-logo.png" class="edit_logo"></a>  
    </div>
    <h1 class="edit_header">Edit</h1>   
</section>

<section class="edit_body">
    <section class="edit_form">
        <img src="/static/img/user.png" class="edit_icon" />
        <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <input 
            type="text" 
            name="name" 
            placeholder="Your Name" 
            value="{{post.name}}" 
            class="edit_name" 
        />
        <textarea 
            name="body" 
            placeholder="{{post.body}}"
            class="edit_textarea" 
        ></textarea>
        {% if post.image.url %}
        <img src="{{ post.image.url }}" class="edit_pic" style="max-width: 400px; max-height: 370px; border-radius: 15px;">
        {% endif %}
    
        <!--cancel and update-->
        <div class="bottom_edit">    
            <input type="file" name="image" class="load_pic">
            <a class="cancel-anchor" href="/">
                <input class="cancel-button" type='button' id='delete' value="Cancel">
            </a>
            <input id="update-button" type='submit' value="Update">
        </div>                
        </form>       
    </section>
    <div class="edit_ditch"></div>
</section>
   
{% endblock %}
