{% extends "base.html" %} {% block content %} {% load static %}

<section class="main">
    <div class="main-header">
        <img src="/static/img/techis-logo.png" class="logo" />
        <h1>Edit</h1>
    </div>
</section>
<section class="home">
    <div class="container">
        <div class="tweet-post">
            <div class="my-icon">
                <img src="/static/img/user.png" />
            </div>
            <div class="input-area">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Your Name" class="input" required />
                    <textarea name="body" placeholder="What's happening?" required></textarea>
                    <div class="bottom-area">
                        <div class="mb-0">
                            <input class="form-control form-control-sm" name="image" type="file">
                        </div>
                        <a href="/" class="btn btn-gray">Cancel</a>
                        <button class="btn" type="submit">Update</button>
                    </div> 
                </form>
            </div>
        </div>
        <div class="ditch"></div>
    </div>
</section>
<!-- Bootstrap JS -->
<script></script>
<!-- Popover JS -->
<script></script>
<script></script>
<!-- Like JS -->
<input type="hidden" name="" value="">
<script>

</script>
<script src="/static/js/"
{% endblock %}
