{% extends "base.html" %} {% block content %} {% load static %} {% load cloudinary %}
<div class="container">
    <div class="main">
        <div class="main-header">
            <img src="/static/img/techis-logo.png" class="header-logo">
            <h1>Home</h1>
        </div>
        <div class="tweet-post-form">
            <div class="icon-area">
                <img src="/static/img/user.png" class="my-icon">
            </div>            
            <div class="input-area">
                <form action="/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="name-input" type="text" name="name" placeholder="Your name" maxlength="14" required >
                    <textarea class="textarea-input" name="body" placeholder="What's happening?" maxlength="140" required></textarea>
                    <div class="bottom-area">                    
                        <input class="form-control form-control-sm" name="image" type="file">
                        <button id="tweet-btn" type="submit">Tweet</button>
                    </div>                                                                 
                </form>                     
            </div>                          
        </div>                                   
        <div class="ditch"></div>
        <ul class="tweet-list">
            {% for post in posts %}
            <li class="post-tweet">
                <div class="tweet-user">                        
                    <img src="{% static 'img/user.png' %}" class="user-icon">
                </div>                                                                                                                           
                <div class="tweet-content">
                    <div class="name">
                        <a href="#">
                            <span class="nickname">{{post.name}}</span>
                            <span class="datetime">{{post.created_at}}</span>
                        </a>                        
                                           
                        <div>
                            <img class="menu-icon js-menu-icon" src="{% static 'img/menu.png' %}" />
                                <div class="menu-popover">
                                <a href = "/delete/{{ post.id }}/">Delete</a><br>                                    
                                <a href = "/edit/{{ post.id }}/">Edit</a>
                            </div>     
                        </div> 
                    </div>
                    <p>{{post.body}}</p>
                    {% if post.image.url %}
                        <img src="{{ post.image.url }}" id="pic"                                                 
                        onclick="window.open(this.src, '_blank');">
                    {% endif %}

                    <div class="tweet-icon-list">
                        <div class=tweet-like>
                            <form id="likes-form" action="{% url 'like_post' post.pk %}" method='POST'>
                            {% csrf_token %}                                                                                                                          
                                <button id="like-btn" type="submit", name="post_id", value="{{ post.id }}" href="post_id">
                                    <img src="{% static 'img/heart.png' %}" class="heart-btn">              
                                </button>                                                                                             
                            </form>
                        <div class="like-count">{{ post.likes }}</div>
                    </div>                                                                              
                </div>                                                                                      
            </li>
            {% endfor %}            
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</div>


{% endblock %}
